<div>
  <!-- Basic Bin -->
  <div class="panel " *ngIf="name!=='Add Type'">
    <!-- Title -->
    <div class="row tight-fit" style="height:25px">

      <!-- bin title -->
      <div class="col-6 tight-fit">
        <p style="font-size: 14px; font-weight: bold; margin:auto auto auto 5px;">{{name | uppercase}}</p>
      </div>

      <div class="col-3" style="background:red;"></div>
      <!-- Dates located in bin currently -->
   <!--   <div class="col-7" style="margin: 0px auto 0px auto; padding: 0;" >
        <ul class="tight-fit" style="height:100%">
          <li class="row justify-content-center" *ngFor="let selector of activeContents let i= index" style="margin:0; border: 1px solid black">
            <p class=" list" > {{selector.date | date:'EEEE MMMM d '}}</p>
          </li>
        </ul>
      </div>-->

      <div class="col-2 tight-fit" style = "margin-top: 3px;">
        <label class="switch">
          <input type="checkbox" style="margin-left: 15px;"(click)= "toggle_bin_plot($event)" checked>
          <span class="slider round" style="margin-left: auto;"></span>
        </label>
      </div>
    </div>

  </div>

<!-- ADD Bin ---------->
<div class="panel" *ngIf="name=='Add Type'">
  <div class="row justify-content-center tight-fit" style="height:25px">
      <p class="tight-fit" style="position:relative; bottom: 8px; font-weight: 'bold'; font-size: 25px;" >+</p>
  </div>
</div>

</div>
