//Basic panel -----------------------------------------
.panel{
  width: 30%;
  border: solid 4px darkgreen;
  min-height: 50px;
  background: url(../../../assets/complex.jpeg) no-repeat center fixed;
  background-size: cover;
  margin: 2px;
  border-radius: 15px;
  height: 100%;
}

//Font styling
.section-header{
  text-align: center;
  font-size: 150%;
  background-color: rgba(100,200,100,.7);
  margin-top: 5px;
}

.dropbox-label{
  margin-top: 0;
  text-align: right;
  font-size: 100%;
}

.panel-title{
  margin-top: 5px;
  vertical-align: middle;
  font-weight: bold;
}

.list-box{
  max-height: 125px;
  align-content: center;
  margin-bottom: 4px;
  background: antiquewhite;
  border: 1px solid black;
}

.list{
  font-size: 85%;
  text-align: center;
  margin-top: 0;
  margin-bottom:0;
  margin-left: 0;
  white-space: nowrap;
  border-bottom: 1px solid black;
}

.list-item{

}


//Dropboxes--------------------------------------------------
select{
  margin-top: 0;
  width: 100%;
}


//Button definitions---------------------------------------------------------------
button:hover {
  background-color: #ce0606;
}

button:active {
  box-shadow: none;
  top: 5px;
}

.btn {
  background-color: palegreen;
  box-shadow: 4px 4px 0 rgba(20,20,20,.5);
  color: black;
  //position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
//---------------------------------------------------------------------------------

.selectable{
  cursor: pointer;
}

//Radio button definitions-------------------------------------------------------
//Font Styling
.radio-label{
}


input[type=radio] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: red;
}

//Custom Radio Button- Currently not used------------------------------------------
  /* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.selectable:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
input:checked ~ .checkmark {
  //background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}


/* Show the indicator (dot/circle) when checked */
.selectable input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.selectable .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: Blue//#2196F3;
}
//---------------------------------------------------------------------------------


// Basic containers
.table-display {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.nav-link {
  font-size: medium;
  border: 2px solid black;
  //margin-bottom: 5px;
  padding:0;
  margin: auto;
  min-height:45px;
}



//Set Grid defaults ----------------------------------------------------------
.row{
  width:100%;
  margin: 1.5px;
}

.expand-horizontal{
  margin-right: 0;
  margin-left: 0;
  padding-right:0;
  padding-left: 0;
}

.expand-vertical{
  margin-top: 0;
  margin-bottom: 0;
  padding-top:0;
  padding-bottom: 0;
}

//------------------------------------------------------------------------------

