<!-- may have to rework line graph section-->
<!-- row renaming is not implimented -->
<div class=" modal-lg my-modal" style="position: absolute; top: 30px; left:-151px;" bsModal>

  <!-- Header Data && Close button-------------------------------------------------------------------------------->
  <div class="row" style="top:20px; margin: 0px; background-color: lightskyblue;">
    <div class="col-sm-6" style="text-align:left;">
      <h2 style="padding-left: 15px; padding-top: 10px;">Import</h2>
    </div>
    <div class="col-sm-6" style="text-align: right">
      <button id="close" type="button" class="close pull-right" aria-label="Close"
              style=" margin-top: 10px; padding: 0; background-color: rgba(0,0,0,.1);"
              (click)="bsModalRef.hide()">
        <span style="padding: 0;" aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <!-- File upload area stage 1  ------------------------------------------------------>
  <div class="row justify-content-center" style="min-height:45px; ">
    <div class="col-9 drop-area" style="vertical-align: center; min-height: 35px"
         [ngStyle]="{'background-color': stage ? 'rgba(255,255,255,.25)': 'rgba(0,0,0,0)'}">
      <input type="file" name="images" id="images" required="required" multiple="multiple"
             (change)="onFileSelect($event)"/>
      <p class="file-box-fill" *ngIf="stage < 2">Click to Upload a File</p>
      <p class="file-box-fill" *ngIf="stage >= 2">{{fileName}}</p>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="stage == 5">
    <p class=" col-4">JSON file detected</p>
    <button class="btn col-2" (click)="confirmJSON()">Import</button>
    <button class="btn col-2" (click)="bsModalRef.hide()">Cancel</button>
  </div>

  <div class="row justify-content-center" *ngIf="stage == 404">
    <p class=" col-4">Unknown File Type Detected</p>
  </div>


  <!-- Rename and header selection stage 2 -------------------------------------------->
  <!-- Rename option -->
  <div class="row justify-content-center" *ngIf="stage > 1 && stage < 5">
    <p style="margin:0">Display Name: <br></p>
    <input type="text" placeholder="{{fileName}}" (change)=rename($event) style="text-align: center;">
  </div>

  <br>
  <div class="row justify-content-center" *ngIf="stage == 2">
    <p style="margin:0; width: 25%; background:lightgray; text-align: center; ">Select Header Style <br></p>
  </div>

  <div class="row justify-content-center" *ngIf="stage == 2">
    <div class="col-4" style="text-align: center"
         tooltip=" Select this if the number of headers below are correct, you may rename them later">
      <label for="auto">Auto Find &nbsp;</label>
      <input type="radio" name="header" value="auto" id="auto" [(ngModel)]="headerFind"
             (change)="check('auto'); AutoHeaders();">
    </div>
    <!--<div class="col-4" style="text-align: center"
         tooltip="Select this if your file contains headers different from those shown below">
      <label for="manual"> Manual selection &nbsp;
        <input type="radio" name="header" value="manual" id="manual" [(ngModel)]="headerFind"
               (change)="check('manual'); manualHeaders(pop);">
      </label>
    </div>-->
    <div class="col-4" style="text-align: center"
         tooltip="Select this if your file does not have headers you will be able to manually assign column headers below">
      <label for="none"> No header &nbsp; </label>
      <input type="radio" name="header" value="none" id="none" [(ngModel)]="headerFind"
             (change)="check('none'); noHeaders();">
    </div>

  </div>

  <div class="row justify-content-center" *ngIf="stage == 2">
    <p *ngIf="headerFind == 'auto' " style="margin:0">Auto-Detected Column Headers </p>
    <p *ngIf="headerFind == 'manual' " style="margin:0">Selected Column Headers </p>

  </div>
  <div *ngIf="stage == 2 &&  headerFind != 'none'" style="max-width: 800px; margin:auto; overflow-x: auto;">
    <table>
      <tr>
        <td style="max-height: 100px; white-space: nowrap" *ngFor="let head of header">{{head}}</td>
      </tr>
    </table>
  </div>

  <div class="row justify-content-center" *ngIf="stage >= 2 && stage < 5">
    <button *ngIf="stage === 2 && headerFind != 'none'" (click)="progress($event)">Confirm Headers</button>
    <button *ngIf="stage === 2 && headerFind == 'none'" (click)="progress($event)">Continue</button>
    <button *ngIf="stage === 3" (click)="regress()">Go Back to Header Selection</button>
  </div>


  <!-- metaData display-->
  <table id="metaData" *ngIf="stage > 2 && stage<5" style="border:thick">

    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Number of Samples</th>
      <th>Columns per Sample</th>
    </tr>
    <tr>
      <td>{{start}}</td>
      <td>{{end}}</td>
      <td>{{data_count}}</td>
      <td>{{number_columns}}</td>
    </tr>
  </table>
  <br>

  <!--data display && row renaming-->
  <form #formElement="ngForm" id="import_file" (ngSubmit)="submitCheckBox()"
        style="padding-bottom: 20px; max-height: 50vh; overflow: auto"
        *ngIf="stage == 3">
    <table style="border-radius: 32px">
      <colgroup>
        <col/>
      </colgroup>
      <tr>
        <th *ngIf="headerFind == 'none' " tooltip="Assign name to column. Original File is uneffected"
            placement="bottom">
          Name (Required)
        </th>


        <th *ngIf="headerFind != 'none' " tooltip="Detected column name"
            placement="bottom">
          Column Name
        </th>
        <th *ngIf="headerFind != 'none' " tooltip="Change name assigned to dataset. Original File is unaffected"
            placement="bottom">
          Rename (Optional)
        </th>
        <th tooltip="First value found in first 100 samples of the column"
            placement="bottom">
          First Sample
        </th>
        <th
          tooltip="Checked by default if it contains data within the first 100 samples, uncheck to exclude from import"
          placement="bottom">
          Selected
        </th>
      </tr>
      <tr *ngFor="let head of selectedHeader; let i = index" [attr.data-index]="i">
        <th *ngIf="headerFind != 'none' " style="background-color: rgba(0,25,0,.5)">{{head.name}}</th>
        <td><input [attr.id]="i" type="text" (change)="columnNameChange($event)" value="{{head.name}}"></td>
        <td>{{readFirstRow[i]}}</td>
        <td><input type="checkbox" value="head.checked" [(ngModel)]="head.checked" name="{{head.id}}"></td>
      </tr>
    </table>

  </form>

  <div class="container-fluid" *ngIf="stage == 3">
    <div class="row justify-content-center" style="margin-bottom: 10px;">

      <button class="btn pull-right" type="submit" form="import_file" style="margin:auto">Confirm</button>
      <button class="btn pull-left" (click)="bsModalRef.hide()" style="margin:auto"> Cancel</button>
    </div>
  </div>

</div>


<ng-template #pop id="bob">

  <div style="width:800px; height:350px; position: absolute; top: 250px; left:0; ">
    <div class="row justify-content-center">
      <div class="panel" style="background: white; border: 3px solid black; padding-bottom: 5px">
        <div class="row " style="height: 50px; margin: 0 ; background: lightskyblue">
          <div class="col" style="padding-right: 0">
            <p style="font-size: 20px; font-weight: bold">Click the Row containing the headers</p>
          </div>
          <div class="col-1">
            <span class="close pull-right" style="padding: 0;" aria-hidden="true"
                  (click)="testModRef.hide();">&times;</span>
          </div>
        </div>
        <div class="row test justify-content-center" style="max-width:700px; height: 50px; margin-left: 5px; margin-right: 5px;"
             *ngFor=" let item of manualSample; let i = index " (click)="manualRow(index)">
          <div style="width:135px; height: 50px; overflow: hidden; border: 1px solid black;"
               *ngFor="let col of manualSample[0]; let j =index">
            <p class="tight-fit" style="padding: 5px; margin: 0">{{manualSample[i][j]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
