<div>
  <div class="row" style="margin: 10px;">
    <div class="col panel col1" style="min-height: 250px;  height:200px; min-width:250px; max-width: 250px;">
      <div class="row" style="margin: 0;">
        <p class="header tight-fit" style="max-height: 30px;"> Data Selector</p>
      </div>
      <!--Radio Buttons--------------------------------------------------------------------------------->
      <div class="row justify-content-center" style="margin: auto;">
        <p class="tight-fit">Bin Selection</p>
      </div>
      <div class="row justify-content-center" style="margin: auto; border: 1px solid black">

        <!-- stdev radio -->
        <div class="col-4 ">
          <div class="row justify-content-center">
            <p class="tight-fit">Stdev</p>
          </div>

          <div class="row justify-content-center">
            <label class="selectable radio-label"> &nbsp;
              <input type="radio" checked="checked" name="graph" value="stdev" style="transform: scale(1.5)"
                     [(ngModel)]="graph" (change)="checkboxSelect($event)">
            </label>
          </div>

        </div>

        <!-- # radio -->
        <div class="col-4 ">
          <div class="row justify-content-center">
            <p class="tight-fit">Number</p>
          </div>
          <div class="row justify-content-center">
            <label class="selectable radio-label">
              <input type="radio" checked="checked" name="graph" value="numBins" style="transform: scale(1.5)"
                     [(ngModel)]="graph" (change)="checkboxSelect($event)">
            </label>
          </div>
        </div>

        <!-- range radio -->
        <div class="col-4 ">
          <div class="row justify-content-center">
            <p class="tight-fit">Range</p>
          </div>
          <div class="row justify-content-center">
            <label class="selectable radio-label">
              <input type="radio" checked="checked" name="graph" value="range" style="transform: scale(1.5)"
                     [(ngModel)]="graph" (change)="checkboxSelect($event)">
            </label>
          </div>
        </div>
      </div>

      <!-- form for Stdev plot-->
      <form #formElement="ngForm" (ngSubmit)="plotHistoGram()">
        <div class="row " style="height: 30px; margin: 5px auto 15px auto;">
          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;">
            <p class="dropbox-label tight-fit" style="text-align: right">Data:</p>
          </div>
          <div class="col-5 tight-fit" style="margin-top: 5px;">
            <select name="columnSelector" [(ngModel)]="temp1" (click)="columnSelectorEvent($event)"
                    style="max-width: 175px">
              <option *ngFor="let column of dataList" value="{{column.identifier}}">{{column.name}}</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center" style="height:45px;">
          <div class="col-8 tight-fit" style="height:100%;">
            <button class="btn tight-fit" type="submit" style="height: 100%; width: 100%;">Import</button>
          </div>
        </div>
      </form>

      <!-- form for # of bins plot-->
      <!--   <form #formElement="ngForm" (ngSubmit)="plotHistoGram()">
        <div class="row " style="height: 30px; margin: 5px auto 15px auto;">
          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;">
            <p class="dropbox-label tight-fit" style="text-align: right">Data:</p>
          </div>
          <div class="col-5 tight-fit" style="margin-top: 5px;">
            <select name="columnSelector" [(ngModel)]="temp1" (click)="columnSelectorEvent($event)"
                    style="max-width: 175px">
              <option *ngFor="let column of dataList" value="{{column.identifier}}">{{column.name}}</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center" style="height:45px;">
          <div class="col-8 tight-fit" style="height:100%;">
            <button class="btn tight-fit" type="submit" style="height: 100%; width: 100%;">Import</button>
          </div>
        </div>
      </form>-->

      <!-- form for bin range plot-->
      <!--      <form #formElement="ngForm" (ngSubmit)="plotHistoGram()">
        <div class="row " style="height: 30px; margin: 5px auto 15px auto;">
          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;">
            <p class="dropbox-label tight-fit" style="text-align: right">Data:</p>
          </div>
          <div class="col-5 tight-fit" style="margin-top: 5px;">
            <select name="columnSelector" [(ngModel)]="temp1" (click)="columnSelectorEvent($event)"
                    style="max-width: 175px">
              <option *ngFor="let column of dataList" value="{{column.identifier}}">{{column.name}}</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center" style="height:45px;">
          <div class="col-8 tight-fit" style="height:100%;">
            <button class="btn tight-fit" type="submit" style="height: 100%; width: 100%;">Import</button>
          </div>
        </div>
      </form>-->


    </div>
    <div>
    </div>
  </div>
  <!--<plotly-plot [data]="graph.data"></plotly-plot>
  <plotly-plot [data]="graph2.data"></plotly-plot>-->
</div>

