<div class="row" style="margin: 5px; min-height:80vh;">

  <!-- Import, Snapshots and file list -->
  <div class="col-3 snug" style="min-height: 100%; min-width:300px;">
    <!-- Import a file -->
    <div class="row snug">
      <div class="panel">
        <div class="header tight-fit">Load a File</div>
        <div class="row justify-content-center" style="margin: 5px;">

          <button class="btn" style="height: 30px; width:30%" (click)="showInputModal()">Import</button>

        </div>
      </div>
    </div>

    <!-- Files -->
    <div class="row snug">
      <div class="panel">
        <div class="header tight-fit">Loaded Files</div>

        <div class="list-container" style="padding-right: 15px; overflow: hidden; background: rosybrown;">
          <div class="row tight-fit justify-content-center">
            <p class="tight-fit" style="text-align: center; ">Name:</p>
          </div>
        </div>

        <div class="list-container" style="margin-top:0; max-height: 15vh;  border-right: 1px solid black">
          <div class="row test tight-fit justify-content-center" *ngFor="let file of fileList, let i = index"
               [ngStyle]="{'background' : file.selected ? 'blue': '',
                           'color' : file.selected ? 'white': ''}"
               id="{{i}}" style="border-bottom: 1px solid black; border-top: 1px solid black">
            <div class="tight-fit nonSelectable col-11" (click)="toggleSelect(i, file)">
                    <p class="tight-fit" style="text-align: center;">{{file.name}}</p>
            </div>
            <span class="tight-fit col-1"
                  (click)="removeFile($event, i)"
                  style="padding-top: 0; text-align: center; margin-top:0; float: right; background: darkgrey; height:100%;">x
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- DT Snapshots -->
    <div class="row snug">
      <div class="panel">
        <div class="header tight-fit">Day Type Snapshots</div>

        <div class="list-container" style="padding-right: 15px; overflow: hidden; background: rosybrown;">
          <div class="row tight-fit">

            <div class="col-8 " style="border-right: 1px solid black">
              <p class="tight-fit" style="text-align: center; ">Name:</p>
            </div>

            <div class="col-4 ">
              <p class="tight-fit" style="text-align: center;">Date:</p>
            </div>

          </div>
        </div>

        <div class="list-container" style="margin-top:0; max-height: 15vh;  border-right: 1px solid black">
          <div class="row test tight-fit" *ngFor="let shot of snapShotListDayType, let i = index"
               (click)="snapSelectDayType($event, shot);"
               style="border-bottom: 1px solid black; border-top: 1px solid black">
            <div class="col-8 inactive" style="border-right: 1px solid black">
              <p class="tight-fit" style="text-align: center;">{{shot.displayName}}</p>
            </div>
            <div class="col-3 inactive" style="border-right: 1px solid black">
              <p class="tight-fit" style="text-align: center;">{{shot.displayName}}</p>
            </div>
            <span class="tight-fit col-1" (click)="removeDTSS(i)"
                  style="padding-top: 0; text-align: center; margin-top:0; float: right; background: darkgrey; height:100%">x
            </span>
          </div>

        </div>
      </div>
    </div>

    <!-- VS Snapshots -->
    <div class="row snug">
      <div class="panel">
        <div class="header tight-fit">Visualization Snapshots</div>

        <div class="list-container" style="padding-right: 15px; overflow: hidden; background: rosybrown;">
          <div class="row tight-fit">

            <div class="col-8 " style="border-right: 1px solid black">
              <p class="tight-fit" style="text-align: center; ">Name:</p>
            </div>

            <div class="col-4 ">
              <p class="tight-fit" style="text-align: center;">Date:</p>
            </div>

          </div>
        </div>

        <div class="list-container" style="margin-top:0; max-height: 15vh;  border-right: 1px solid black">
          <div class="row test tight-fit" *ngFor="let shot of snapShotListGraph, let i = index"
               id="shot{{i}}" (click)="snapSelectGraph($event, shot);"
               style="border-bottom: 1px solid black; border-top: 1px solid black">
            <div class="col-8 inactive" style="border-right: 1px solid black">
              <p class="tight-fit" style="text-align: center;">{{shot.displayName}}</p>
            </div>
            <div class="col-3 inactive" style="border-right: 1px solid black;">
              <p class="tight-fit" style="text-align: center;">{{shot.displayName}}</p>
            </div>
            <span class="tight-fit col-1" (click)="removeVSS(i)"
                  style="padding-top: 0; text-align: center; margin-top:0; float: right; background: darkgrey; height:100%">x
            </span>


          </div>

        </div>
      </div>
    </div>

    <!-- Recently used files -->
    <div class="row snug" style="min-height: 100%">
      <div class="panel">
        <div class="header tight-fit">Recently Used</div>
      </div>
    </div>
  </div>

  <!-- Metadata and table -->
  <div class="col-6 snug" style="min-height: 100%; min-width:275px;">
    <div class="row snug">
      <div class="panel" style="height: 300px;">
        <div class="header tight-fit">File Contents</div>


        <!-- tabs -->
        <div class="row " style="margin-left: 2%; margin-right: 2%; width:96%;">
          <ul class="scrolling-wrapper-flexbox tight-fit">
            <li class="nav-item" *ngFor="let tab of selected"
                [ngStyle]="{'min-width' : getTabWidth(tab)}">
              <div class="nav-link" (click)="tabSelect(tab.tabID)"
                   [ngStyle]="{'background': active == tab.tabID ? 'blue': 'rgba(0,0,255,.5)' }">
                <span id={{tab.tabId}} style="margin: 10px 5px; font-size: 15px;">{{tab.name}}</span>

              </div>
            </li>
          </ul>
        </div>


        <div class="table-display" *ngIf="active >= 0">
          <router-outlet></router-outlet>
          <!--[style.max-width] = getTableWidth()-->

        </div>

      </div>
    </div>
    <div class="row snug ">
      <div class="panel" style="">
        <div class="header tight-fit">Record MetaData</div>
        <div *ngIf="activeStats != undefined && activeStats != null">
          <div *ngIf="!metahidden">
            <!-- Facility and Contact information -->
            <div class="row" style=" border: 3px solid black; margin: 5px;">
              <div class="col-4" style="border: 1px solid black; min-width: 200px;">

                <div class=row>
                  <!-- <p class="tight-fit col-4 meta">Company: </p>
                   <input class="col-6" type="text" [(ngModel)]="activeMetaData.companyName"></div>-->

                  <label>Company:
                    <input type="text" style="width:90%" [(ngModel)]="activeMetaData.companyName">
                  </label>
                </div>
                <div class=row><!--<p class="tight-fit col-4 meta">Facility:</p>
                  <input class="col-6" type="text" [(ngModel)]="activeMetaData.facilityName">-->
                  <label>Facility:
                    <input type="text" style="width:90%" [(ngModel)]="activeMetaData.facilityName">
                  </label>
                </div>
              </div>
              <div class="col-4 tight-fit" style="border: 1px solid black; min-width: 200px;">
                <div class="row justify-content-center"><p class="tight-fit font-weight-bold">Facility Contact</p></div>
                <div class="row tight-fit"><p class="tight-fit col-4 meta">Name:</p><input type="text" class="col-6"
                                                                                           [(ngModel)]="activeMetaData.facilityContactName">
                </div>
                <div class="row tight-fit"><p class="tight-fit col-4 meta">Phone:</p><input type="text" class="col-6"
                                                                                            [(ngModel)]="activeMetaData.facilityContact">
                </div>
                <div class="row tight-fit"><p class="tight-fit col-4 meta">Email:</p><input type="text" class="col-6"
                                                                                            [(ngModel)]="activeMetaData.facilityEmail">
                </div>
              </div>

              <div class="col-4 tight-fit" style="border: 1px solid black; min-width: 200px;">
                <div class="row justify-content-center"><p class="tight-fit font-weight-bold">Assessment Contact</p>
                </div>
                <div class="row tight-fit"><p class="tight-fit col-4 meta">Name:</p><input type="text" class="col-6"
                                                                                           [(ngModel)]="activeMetaData.assessmentContactName">
                </div>
                <div class="row tight-fit"><p class="tight-fit col-4 meta">Phone:</p><input type="text" class="col-6"
                                                                                            [(ngModel)]="activeMetaData.assessmentContact">
                </div>
                <div class="row tight-fit"><p class="tight-fit col-4 meta">Email:</p><input type="text" class="col-6"
                                                                                            [(ngModel)]="activeMetaData.assessmentEmail">
                </div>
              </div>
            </div>

            <div class="row" style="border: 3px solid black; margin: 5px;">
              <div class="col-12">
                <div class="row justify-content-center"><p class="tight-fit meta">Address</p></div>
                <!-- street -->
                <div class="row justify-content-center">
                  <div class="col-6">
                    <label>Street:
                      <input type="text" style="width:90%" [(ngModel)]="activeMetaData.address.street">
                    </label>
                  </div>
                  <div class="col-6">
                    <label>Country:
                      <input type="text" style="width:90%" [(ngModel)]="activeMetaData.address.country">
                    </label>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-4">
                    <label>&nbsp; City:
                      <input type="text" style="width:90%" [(ngModel)]="activeMetaData.address.city">
                    </label>
                  </div>

                  <div class="col-4">
                    <label>State:
                      <input type="text" style="width:90%" [(ngModel)]="activeMetaData.address.state">
                    </label>
                  </div>

                  <div class="col-4">
                    <label>Zip:
                      <input type="text" style="width:90%" [(ngModel)]="activeMetaData.address.zip">
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!--File data -->
            <div class="row" style="margin: 5px; border: 3px solid black;">
              <!-- Original File -->
              <div class="col-3">
                <p class="tight-fit meta">File Name:</p>
                <p class="tight-fit">{{activeStats.name}}</p>
              </div>

              <!-- sample meta data-->
              <div class="col-4">
                <p class="tight-fit meta">Sample Information</p>
                <p class="tight-fit"># of Samples: {{activeStats.rowCount}}</p>
                <p class="tight-fit">data columns: {{activeStats.columnCount}}</p>
              </div>

              <!-- time series Data -->
              <div class="col-5">
                <p class="tight-fit meta">Time frame</p>
                <!--              <p *ngIf="activeStats.start | date:'medium' " class="tight-fit" style="text-align: center">Start: {{activeStats.start | date:'medium' }}</p>
                              <p *ngIf="activeStats.end | date:'medium' "class="tight-fit" style="text-align: center">End: &nbsp; {{activeStats.end | date:'medium'}}</p>-->
              </div>
            </div>
          </div>

          <div class="row justify-content-center" style="margin: 5px;">
            <button *ngIf="!metahidden" class="btn pull-right" style="height: 30px" (click)="saveMetaData(-1)">
              Update MetaData
            </button>
            <button *ngIf="!metahidden" class="btn pull-right" style="height: 30px" (click)="toggleMeta()">Hide
              MetaData
            </button>
            <button *ngIf="metahidden" class="btn pull-right" style="height: 30px" (click)="toggleMeta()">Show
              MetaData
            </button>
            <button class="btn pull-right" style="height: 30px" (click)="saveAllMeta()">Save ALL changes</button>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- Navigate, Export, && Instructions -->
  <div class="snug col" style="min-height: 100%; margin-right: 20px; min-width:200px;">
    <div class="row snug ">
      <div class="col-12" style="padding-left: 0; padding-right: 5px">
        <div class="panel">
          <div class="header tight-fit">Export Selection</div>
          <div class="row justify-content-center" style="margin: 5px;">
            <div class="col-5 tight-fit">
              <button class="btn" style="width: 90%; margin: auto 5% auto 5%" (click)="exportDayTypeToFile()">Day Type</button>
            </div>
            <div class="col-5 tight-fit">
              <button class="btn" style="width: 90%; margin: auto 5% auto 5%" (click)="exportGraphToFile()">Visualization</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row snug">
      <div class="panel">
        <div class="header tight-fit">Instructions</div>
      </div>
    </div>
  </div>


</div>
