<div class="scrolling-wrapper-flexbox" style=" overflow-x: auto; white-space: nowrap;">
  <div class="col-5" style="margin: 5px;" *ngFor="let bin of binList let i = index ">
    <app-day-type-bin
      [name]=bin
      [datePull]="specificBin"
      [binContents]="specificContent[i]"
      (update)="onUpdate($event)"
      (delete)="onRemove($event)">
    </app-day-type-bin>
  </div>
  <!-- add blank "ADD TYPE COMPONENT HERE -->
  <div class="col-5">
    <app-day-type-bin
      [name]="'Add Type'"
      (add)="addType()" >
    </app-day-type-bin>
  </div>
</div>
<div class="row" style="height:100%">
  <div class="container" style="width: 100%; height:100%; background-color: gray;">
    FILLER
  </div>
</div>
