<div style="overflow-y:auto;">
  <!--Scrolling list of bins -->
  <div class="scrolling-wrapper-flexbox" style=" overflow-x: auto; white-space: nowrap;">
    <div class="col-5" style="margin: 5px; max-width: 360px;" *ngFor="let bin of binList let i = index ">
      <app-day-type-bin
        [name]=bin
        [dropDownList]="dropDownBinList[i]"
        [activeContents]="selectedBinList[i]"
        (addSelectedDateOutput)="addSelectedDate($event)"
        (onSelectedRemoveOutput)="onSelectedRemove($event)">
      </app-day-type-bin>
    </div>

    <!-- add blank "ADD TYPE COMPONENT HERE -->
    <div class="col-5">
      <app-day-type-bin
        [name]="'Add Type'"></app-day-type-bin>
    </div>
  </div>

  <!-- graphs -->
  <div class="row" style="height:100%; overflow-x:auto">
    <div class="col-1">
      <button (click)="calculateType()">Day Type</button>
    </div>
    <div class="col">
      <plotly-plot [data]="graphDayAverage.data" [layout]="graphDayAverage.layout"></plotly-plot>
    </div>
    <div class="col">
      <plotly-plot [data]="graphBinAverage.data" [layout]="graphBinAverage.layout"></plotly-plot>
    </div>
  </div>

  <!-- Table plot -->
  <div class="row" style="height:100px; overflow-x:auto">
      <table>
        <tr>
          <th class="dayType">
            Day Type
          </th>
          <th class="channelName">
            Channel Name
          </th>
          <th class="dataColumn" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]">
            {{i}}
          </th>
        </tr>
        <tr *ngFor="let content of sumArray">
          <td class="dayType">{{content.binValue}}</td>
          <td class="channelName">{{content.channelName}}</td>
          <td class="dataColumn" *ngFor="let row of content[channelId].averageValue"><p class="entry"> {{row}}</p></td>
        </tr>
      </table>
  </div>

</div>
