<div style="margin: 0; border: 0; padding:0; width:100%">
  <!-- File Control Panel, calendar -->
  <div class="row" style="min-height: 200px;">

    <!-- control panel -->
    <div class="col-3 panel col1" style="min-height: 125px;  height:150px; min-width:250px; ">
      <!-- Title -->
      <div class="row">
        <p class="header"> Data Selector</p>
      </div>

      <form #formElement="ngForm" (ngSubmit)="dayTypeNavigation()">
        <!-- File select box --->
        <div class=" row" style="height: 30px; margin:auto">
          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;">
            <p class="dropbox-label tight-fit" style="text-align: right">File:</p>
          </div>
          <div class="col-9 tight-fit" style="margin-top: 5px; margin-right: 5px">
            <select name="fileSelector" [(ngModel)]="temp5" (change)="fileSelectorEvent($event)" style="width: 100%; ">
              <option *ngFor="let file of fileSelector" value="{{file.identifier}}">{{file.name}}</option>
            </select>
          </div>
        </div>

        <!-- Column select box -->
        <div class="row" style="height: 30px; margin:auto">

          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;">
            <p class="dropbox-label tight-fit" style="text-align: right">Data:</p>
          </div>

          <div class="col-9 tight-fit" style="margin-top: 5px;">
            <select name="columnSelector" [(ngModel)]="temp6" (change)="columnSelectorEvent($event)">
              <option *ngFor="let column of columnSelector" value="{{column.identifier}}">{{column.name}}</option>
            </select>
          </div>

        </div>

        <!-- Display chosen channels -- Currently pointless -->
        <!--<div class="row" style="height: 50px">
          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;">   </div>
          <div class="col tight-fit overflow-auto">
            <div class="row">
                <p *ngFor="let selector of columnSelectorList" title="columnSelectorList">{{selector.name}}</p>
            </div>
          </div>

        </div>-->

        <!-- button-->
        <div class="row" style="height:45px;">
          <div class="col-2 tight-fit" style="padding:5px; vertical-align: center; min-width:45px;"></div>
          <div class="col-9 tight-fit" style="height:100%;">
            <button class="btn tight-fit" type="submit" style="height: 100%; width: 100%; font-size: 10px;">Import
            </button>
          </div>
        </div>
      </form>

    </div>

    <!-- calendar panel -->
    <div id="calendar_panel" class="col-4 panel" style="height: 200px; ">
      <p class="header" style="margin:0; text-align: center;">Calendar</p>
      <div class="row">
        <!-- Calendar -->
        <div class="col" style="overflow-x: scroll; overflow-y: auto; margin:0; padding:0; height: 170px; width:200px;">

          <svg id="grid" style="height: 155px; background: White; overflow:auto;"></svg>

        </div>
        <!-- legend -->
        <div class="col tight-fit" style="max-width: 200px; min-width: 200px; overflow:auto;">
          <div class="row">
            <!-- bin Names/colors -->
            <div class="col"
                 style="margin:0; padding:0; height: 170px; min-width: 100px; border-width: 3px; border-left: solid black; border-top: solid black; border-bottom: solid black;">
              <svg id="legend" style="background: white; height: 100%; width: 100px; overflow:auto;"></svg>
            </div>
            <!-- example block -->
            <div class="col"
                 style="margin:0; padding:0; height: 170px; width: 100px; border-width: 3px; border-right: solid black; border-top: solid black; border-bottom: solid black;">
              <svg id="example" style="background: white; height: 100%; width: 100%; overflow:auto;"></svg>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="placeholder" class="col-3 panel " style="height:200px;"></div>


  </div>

  <!-- bin control and graphs -->
  <div id="row2" class="row" >

    <!-- bin control container -->
    <div id="bin-panel" class=" col-3 panel" style="max-width:250px; ">
      <!-- header-->
      <div class="inner-row justify-content-center" style="min-height: 25px;">
        <p class="header" style="text-align: center"> Day Types </p>
      </div>

    <!-- bins -->
      <!-- Normal Bins -->
      <div style="max-height: 300px; width:90%; overflow-y: auto; box-shadow: none; margin: 0 auto 0px auto;">
        <div class="row justify-content-center" style=" background:darkgray;" *ngFor="let bin of binList let i = index ">
          <app-day-type-bin
            [name]=bin.binName
            [color]="bin.binColor"
            [dropDownList]="dropDownBinList[i]"
            [activeContents]="selectedBinList[i]"
            (toggle_change)="binToggled($event)"
            style="width:95%; height:95%; margin: 1.5% 2.5% 1% 2.5%">>
          </app-day-type-bin>
        </div>
      </div>
      <!-- Add Type -->
      <div style="width:90%; margin: auto;">
        <div class="row justify-content-center" style="background:darkgray; width:100%;">
          <app-day-type-bin
          [name]='"Add Type"'
          [color]='"black"'
          (addTypeOutput)="showBinMod(template)"
          style="width:95%; height:95%; margin: 2.5%;">
          </app-day-type-bin>
        </div>
      </div>


    <!-- Option buttons -->
<!--    <div class="row justify-content-center">
      <button class="btn" style="width: 80%" (click)="showBinMod(template)">Add Type</button>
    </div>-->
    <div class="row justify-content-center tight-fit">
      <div class="col-4 tight-fit">
        <div class="row justify-content-center tight-fit">
          <button class="btn" style="width: 100%" (click)="resetBins()">Reset</button>
        </div>
      </div>
      <div class="col-4 tight-fit">
        <div class="row justify-content-center tight-fit">
          <button class="btn" style="width: 100%" (click)="clearBins()">Clear</button>
        </div>
      </div>
      <div class="col-4 tight-fit">
        <div class="row justify-content-center tight-fit">
          <button class="btn" style="width: 100%">Export</button>
        </div>
      </div>
    </div>




    </div>
    <!-- graph holder -->
    <div class=" col-7 panel"  id="myDiv">
        <div class="row">
            <select name="plotBox" style="width: 150px;" (click)=plotShift($event);>
              <option value="day">Day Averages</option>
              <option value="bin">Bin Averages</option>
            <!--<option *ngFor="let file of fileSelector" value="{{file.identifier}}">{{file.name}}</option>-->
            </select>

            <button class="btn pull-right" (click)="exportDayAverageData()">Export</button>
        </div>

        <div [hidden]="!showBinMode">

            <plotly-plot [data]="graphDayAverage.data" [layout]="graphDayAverage.layout" [config]="graphDayAverage.config"
                 (click)="clickAnnotationDayAverage($event)"></plotly-plot>
         </div>

        <div [hidden]="showBinMode">
            <plotly-plot [data]="graphBinAverage.data" [layout]="graphBinAverage.layout" [config]="graphBinAverage.config"
                 (click)="clickAnnotationBinAverage($event)"></plotly-plot>
        </div>

    </div>
  </div>

<!-- table panel-->
<!--<div class="row" style="margin-top:10px">
  <div class="col-sm-3 panel" style=" visibility: hidden;  min-width:264px;">Placeholder</div>

  &lt;!&ndash; table container&ndash;&gt;
  <div id="table" class="col-sm-7 panel" style="min-height: 105px;">

    &lt;!&ndash; channel name &ndash;&gt;
    <div style="width: 96% ;  margin:5px auto 0 auto ;">

      <div style="min-width: 96%; margin:auto;">
        <p *ngIf="sumArray.length < 1;" class="tight-fit"
           style="border: 1px solid black; text-align: center; min-width: 100%; margin:auto;">Channel Name</p>
      </div>

      <div *ngFor="let thing of sumArray" style="min-width: 96%; margin:auto;">
        <p *ngIf="thing.length > 0;" class="tight-fit"
           style="border: 1px solid black; text-align: center; min-width: 100%; margin:auto;">{{thing[0].channelName}}</p>

      </div>
    </div>

    &lt;!&ndash; table &ndash;&gt;
    <div style="width: 96% ; overflow: auto; margin: auto; max-height: 125px">

      &lt;!&ndash; Populated table &ndash;&gt;
      <table style="width: 100%; margin:auto;">
        <tr>
          <th style="min-width: 14%; border: 1px solid black; text-align: center">Entries</th>
          <th style="min-width: 14%; border: 1px solid black; text-align: center">Day Type</th>
          <th *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]"
              style=" min-height: 25px; width: 3%; border: 1px solid black; text-align: center;"
              class="tight-fit">{{item}}</th>
        </tr>
        <tr *ngFor="let entry of sumArray[0] let i= index">
          <td style="min-width: 12%; border: 1px solid black; text-align: center">{{entry.entries}}</td>
          <td [ngStyle]="{'background': entry.binColor}"
              style="min-width: 12%; border: 1px solid black; color: white; text-align: center">{{entry.binValue}}</td>
          <td class="table-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]"
              style=" min-height: 25px; width: 3%; border: 1px solid black; text-align: center; font-size: 8pt;"
          >{{entry.averageValue[item]}} </td>
        </tr>
      </table>
    </div>
  </div>
</div>-->
</div>



<!-- Add Bin Module -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add a Type Bin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row justify-content-center" style="margin-left: 5px;">
    <div class="col tight-fit"><p>New Bin Name: </p></div>
    <div class="col tight-fit">
      <label>
        <input [(ngModel)]="newBinName">
      </label>
    </div>
    <div class="col">
      <button style="width: 100%; height:100%" (click)="addBinType()"> Add Bin</button>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-left: 5px;">
    <div class="col tight-fit"><p>New Bin Color: </p></div>
    <div class="col tight-fit">
      <label>
        <input list="colors" [(ngModel)]="newBinColor">
        <datalist id="colors">
          <option *ngFor="let color of
          ['AliceBlue','AntiqueWhite','Aqua','Aquamarine','Azure','Beige','Bisque','Black','BlanchedAlmond',
          'Blue','BlueViolet','Brown','BurlyWood','CadetBlue','Chartreuse','Chocolate','Coral','CornflowerBlue',
          'Cornsilk','Crimson','Cyan','DarkBlue','DarkCyan','DarkGoldenRod','DarkGray','DarkGrey','DarkGreen',
          'DarkKhaki','DarkMagenta','DarkOliveGreen','Darkorange','DarkOrchid','DarkRed','DarkSalmon','DarkSeaGreen',
          'DarkSlateBlue','DarkSlateGray','DarkSlateGrey','DarkTurquoise','DarkViolet','DeepPink','DeepSkyBlue',
          'DimGray','DimGrey','DodgerBlue','FireBrick','FloralWhite','ForestGreen','Fuchsia','Gainsboro','GhostWhite',
          'Gold','GoldenRod','Gray','Grey','Green','GreenYellow','HoneyDew','HotPink','IndianRed','Indigo','Ivory',
          'Khaki','Lavender','LavenderBlush','LawnGreen','LemonChiffon','LightBlue','LightCoral','LightCyan',
          'LightGoldenRodYellow','LightGray','LightGrey','LightGreen','LightPink','LightSalmon','LightSeaGreen',
          'LightSkyBlue','LightSlateGray','LightSlateGrey','LightSteelBlue','LightYellow','Lime','LimeGreen','Linen',
          'Magenta','Maroon','MediumAquaMarine','MediumBlue','MediumOrchid','MediumPurple','MediumSeaGreen',
          'MediumSlateBlue','MediumSpringGreen','MediumTurquoise','MediumVioletRed','MidnightBlue','MintCream',
          'MistyRose','Moccasin','NavajoWhite','Navy','OldLace','Olive','OliveDrab','Orange','OrangeRed','Orchid',
          'PaleGoldenRod','PaleGreen','PaleTurquoise','PaleVioletRed','PapayaWhip','PeachPuff','Peru','Pink','Plum',
          'PowderBlue','Purple','Red','RosyBrown','RoyalBlue','SaddleBrown','Salmon','SandyBrown','SeaGreen','SeaShell',
          'Sienna','Silver','SkyBlue','SlateBlue','SlateGray','SlateGrey','Snow','SpringGreen','SteelBlue','Tan','Teal',
          'Thistle','Tomato','Turquoise','Violet','Wheat','White','WhiteSmoke','Yellow','YellowGreen']"
                  value={{color}}></option>
        </datalist>


      </label>
    </div>
    <div class="col"></div>
  </div>

</ng-template>
