<div *ngIf="show">
  <!--<ag-grid-angular
    style="height: 200px;"
    class="ag-theme-balham"
    [ngStyle]="{'max-width': calculateWidth()}"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular>-->
  <table>
    <tr>
      <th *ngFor="let column of columnDefs; let i=index">{{column.headerName}}</th>
    </tr>

    <tr *ngFor="let row of rowData[maxlength()], let i=index">
      <td *ngFor="let column of columnDefs, let j=index"> {{rowData[j][i]}} </td>
    </tr>
  </table>
</div>
