<div>
  <table>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Day Type</th>
    </tr>
    <tr *ngFor="let day of days; let i = index">
      <td>{{day.date}}</td>
      <td>{{day.day}}</td>
      <td>
        <select id="{{i}}" (change)="changeSelector($event)">
          <option *ngFor="let bin of binList" value="{{bin}}">{{bin}}</option>
        </select>
      </td>
    </tr>
  </table>
  <button (click)="calculateType()">Day Type</button>
  <div>
    <table *ngFor="let content of sumArray">
      <tr>
        <th>
          Day Type
        </th>
        <th>
          Channel Name
        </th>
        <th *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]">
          {{i}}
        </th>
      </tr>
      <tr>
        <td>{{content.binValue}}</td>
        <td>{{content.columnName}}</td>
        <td *ngFor="let row of content.averageValue">{{row}}</td>
      </tr>
    </table>
  </div>
</div>

